.container-center {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../../assets/login_bg.png");
	padding: 0 12px;
}

.login {
	background-color: #000;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 15px;
}

.login-area {
	background-color: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}

.login-area img {
	width: 100px;
	height: 100px;
	padding: 20px;
}

form {
	margin-top: 1.5rem;
	width: 90%;
	display: flex;
	flex-direction: column;
}

form h1 {
	text-align: center;
	margin-bottom: 1rem;
	color: #e2e2e2ff;
}

.login input {
	margin-bottom: 0.7rem;
	height: 25px;
	border-radius: 4px;
	padding: 10px;
	font-size: 15px;
	background-color: transparent;
	border: 1px solid #2e2c2cff;
	color: #e2e2e2ff;
}

form button {
	height: 30px;
	border: 0;
	border-radius: 4px;
	background-color: #cf9414ff;
	color: #131010ff;
	font-size: 1.1rem;
}

.login a {
	margin: 1.5rem 0;
	color: #e2e2e2ff;
	cursor: pointer;
	font-size: 0.9rem;
}
