.cardReceitas {
	background-color: #181c2e;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 10px;
	width: 80%;
}

.cardReceitas_content {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-left: -8px;
}

.cardReceitas_title {
	display: flex;
	gap: 15px;
}

.cardReceitas_title p {
	margin: 0;
	font-size: 18px;
	color: #ffffffff;
}

.cardReceitas_title span {
	color: #fff;
	border: 1px solid #666666;
	padding: 2px 10px;
	border-radius: 10px;
	font-size: 12px;
}

.cardReceitas_info {
	width: 65%;
	margin-left: 20px;
}

.cardReceitas_info h3 {
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	margin-top: 4px;
}

.cardReceitas_value {
	color: #1ef5b1ff;
	font-size: 15px;
	width: 120px;
	margin-right: 30px;
	margin-left: -20px;
}

.cardReceitas_actions {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
	cursor: pointer;
	width: 50px;
}
