.content {
	background-color: #f1f1e5;
	height: 70vh;
	border-radius: 20px 20px 0px 0px;
	padding: 30px;
}

.content_title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.content_form {
	border-radius: 15px;
	padding: 20px;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.content_form_button {
	background-color: #071b23;
	color: #f1f1e5;
}

.forms {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.forms input {
	width: 700px;
	height: 40px;
	border-radius: 5px;
	padding: 5px;
	outline: none;
	border: 1px solid #c5c5bf;
	margin-bottom: 10px;
}

.forms label {
	width: 700px;
	text-align: left;
	color: #000;
	margin-bottom: 5px;
}

.forms button {
	width: 710px;
	height: 40px;

	margin-bottom: 30px;
}
