.sidebar {
	width: 200px;
	margin: 10px;
	padding: 0;
	background-color: #171922ff;
	position: fixed;
	height: 97%;
	overflow: auto;
	border-radius: 10px;
}

.sidebar div {
	/* background: url("../../assets/cover.png"); */
	background-color: #171922ff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
}

.sidebar div {
	padding-top: 30px;
}

.sidebar div img {
	width: 150px;
	height: 150px;
	display: block;
	margin: -15px auto;
	object-fit: cover;
}

.sidebar a {
	padding: 30px 10px 30px 13px;
	display: flex;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	flex-direction: row;
	align-items: center;
	transition: ease-in-out 0.4s;
}

.sidebar a svg {
	margin-left: -5px;
	margin-right: 10px;
	width: 30px;
}

.sidebar a:hover {
	transition: ease-in-out 0.4s;
	transform: scale(1.05);
}

.sidebar button {
	background-color: transparent;
	border: transparent;
}

.content {
	margin-left: 200px;
	padding: 1px 16px;
}

.dropdown {
	/* padding: 16px;
	margin-bottom: -10px; */
	margin-left: 10px;
	text-decoration: none;
	flex-direction: row;
	align-items: center;
	transition: ease-in-out 0.4s;
}

.dropdown-toggle {
	color: white;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 16px;
	font-family: "Noto Sans", sans-serif;
	color: #ccc;
}

.dropdown-menu {
	display: flex;
	flex-direction: column;
	padding-left: 24px;
}

.dropdown-menu a {
	color: #ccc;
	text-decoration: none;
	padding: 6px 0;
	font-size: 15px;
}

.dropdown-toggle:hover {
	color: #ccc;
	transition: ease-in-out 0.4s;
	transform: scale(1.05);
}

.dropdown-menu a:hover {
	color: #ccc;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	div.content {
		margin-left: 0;
	}

	.sidebar a {
		float: left;
	}

	.sidebar div {
		display: none;
	}

	.sidebar a svg {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}

	.sidebar a svg {
		display: none;
	}
}
