.content {
	padding: 20px;
}

.dashboard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.dashboard span {
	margin: 2em 0;
	font-size: 1.2em;
	font-weight: 600;
}

.btn-more {
	margin: 1.5em 0;
	padding: 0.5em 1em;
	background-color: #181c2e;
	border: 0;
	border-radius: 5px;
	font-size: 1.1em;
	color: #fff;
}

.filtro-mes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
}

.add_button {
	margin-left: 1em;
	margin-top: 1em;
	padding: 0.2em 0.6em;
	background-color: #d20404ff;
	border: 0;
	border-radius: 5px;
	font-size: 1em;
	color: #fff;
	cursor: pointer;
	transition: ease-in-out 0.3s;
	display: flex;
	align-items: center;
	font-weight: 600;
}

.add_button svg {
	margin-right: 5px;
}

.add_button:hover {
	transform: scale(1.1);
}

.cardDespesas {
	background-color: #181c2e;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 10px;
	width: 80%;
}

.cardDespesas_content {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-left: -8px;
}

.cardDespesas_title {
	display: flex;
	gap: 15px;
}

.cardDespesas_title p {
	margin: 0;
	font-size: 18px;
	color: #ffffffff;
}

.cardDespesas_title span {
	color: #fff;
	border: 1px solid #666666;
	padding: 2px 10px;
	border-radius: 10px;
	font-size: 12px;
}

.cardDespesas_info {
	width: 65%;
	margin-left: 20px;
}

.cardDespesas_info h3 {
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	margin-top: 4px;
}

.cardDespesas_value {
	color: #1ef5b1ff;
	font-size: 15px;
	width: 120px;
	margin-right: 30px;
	margin-left: -20px;
}

.cardDespesas_actions {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
	cursor: pointer;
	width: 50px;
}

.cardDespesas_icon {
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 4px;
	margin-right: -10px;
}

@media screen and (max-width: 600px) {
}
