* {
	padding: 0;
	margin: 0;
	box-sizing: 0;
}

html,
body,
#root {
	height: 100%;
}

body {
	font: 14px;
	font-family: "Noto Sans", sans-serif;
	color: #ccc;
	background-color: #071b23;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
}
